@model ProjectViewModel

<div class="container">
    <a class="btn btn-primary" asp-controller="projects" asp-action="Add">Add Project</a>
    <a class="btn btn-primary" asp-controller="risks" asp-action="Add">Add Risk</a>
</div>

@if (Model.Result != null) {
    <div class="container text-info">
        Result: @Model.Result
    </div>
}
@if (Model != null && Model.Projects.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Project name</th>
                <th>Project base cost</th>
                <th>List of risks</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.BaseCost</td>
                    <td>
                        <ul>
                        @foreach (var risk in project.Risks!)
                        {
                            <li>
                                Probability: @risk.Probability
                            </li>
                            <li>
                                Impact: @risk.Impact
                            </li>
                            <li>
                                    <form method="post" asp-controller="risks" asp-action="delete">
                                        <input type="hidden" name="id" value="@risk.RiskId"></input>
                                        <button class="btn btn-primary" type="submit">Delete Risk</button>
                                    </form>
                            </li>
                        }
                        </ul>
                    </td>
                    <td>
                        <form method="post" asp-controller="projects" asp-action="delete">
                            <input type="hidden" name="id" value="@project.ProjectId"></input>
                            <button class="btn btn-primary" type="submit">Delete Project</button>
                        </form>
                    </td>
                    <td>
                        <div class="d-flex">
                            <form method="post" asp-controller="projects" asp-action="index">
                                <input type="hidden" asp-for="InputDataProjectId" value="@project.ProjectId"></input>
                                <div class="row">
                                    <label class="col" asp-for="Simulations"></label>
                                    <input class="col" type="number" asp-for="Simulations"></input>
                                </div>
                                <div class="row">
                                    <label class="col" asp-for="Confidence"></label>
                                    <input class="col" type="number" step="0.01" asp-for="Confidence"></input>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Run Monte Carlo"></input>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}