@using WebApp.ViewModels

@model ResumesViewModel

@{
    ViewBag.Title = "Find Candidates";
    int maxLength = 100;
}
<form method="get" asp-controller="resumes" asp-action="index">
    <div class="row justify-content-center">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="col mx-1">
            <label asp-for="MinExperience"></label>
            <input type="number" asp-for="MinExperience"></input>
        </div>
        <div class="col mx-1">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId">
                <option value="0">All</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            </select>
        </div>
        <div class="col mx-1">
            <label asp-for="LocationId"></label>
            <select asp-for="LocationId">
                <option value="0">All</option>
                @foreach (var location in Model.Locations)
                {
                    <option value="@location.LocationId">@location.Name</option>
                }
            </select>
        </div>
        <div class="col my-1">
            <input class="btn btn-primary" type="submit" value="Search"></input>
        </div>
    </div>
</form>

@if (Model != null && Model.Resumes.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Education</th>
                <th>Experience</th>
                <th>Updated At</th>
                <th>Location</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resume in Model.Resumes)
            {
                <tr>
                    <td>@resume.Title</td>
                    <td>@($"{(resume.Description.Length > maxLength ? resume.Description.Substring(0, maxLength) + "..." : resume.Description)}")</td>
                    <td>@resume.Education</td>
                    <td>@resume.Experience</td>
                    <td>@resume.UpdatedAt</td>
                    <td>@resume?.Location?.Name</td>
                    <td>@resume?.Category?.Name</td>
                    <td><a class="btn btn-link" asp-controller="resumes" asp-action="view" asp-route-id="@resume!.ResumeId">View</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div row>Not found any candidate</div>
}