@using WebApp.Models

@model List<Job>

@{
    ViewBag.Title = "My jobs";
    int maxLength = 100;
}
<div class="d-flex justify-content-end">
    <a class="btn btn-primary" asp-controller="Jobs" asp-action="Add">Add Job</a>
</div>
@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Salary</th>
                <th>Minimum Expirience</th>
                <th>Posted At</th>
                <th>Is Active</th>
                <th>Location</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model)
            {
                <tr>
                    <td>@($"{(job.Title.Length > maxLength ? job.Title.Substring(0, maxLength) + "..." : job.Title)}")</td>
                    <td>@($"{(job.Description.Length > maxLength ? job.Description.Substring(0, maxLength) + "..." : job.Description)}")</td>
                    <td>@job.Salary</td>
                    <td>@job.MinExpirience</td>
                    <td>@job.PostedAt</td>
                    <td><input type="checkbox" disabled @(job.IsActive ? "checked" : "") value="@job.IsActive" /></td>
                    <td>@job?.Location?.Name</td>
                    <td>@job?.Category?.Name</td>
                    <td><a class="btn btn-link" asp-controller="jobs" asp-action="edit" asp-route-id="@job!.JobId">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="jobs" asp-action="delete" asp-route-categoryid="@job!.JobId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}